*,
*::after,
*::before {
	margin: 0;
	padding: 0;
    	box-sizing: border-box;
}

html {
	height: 100vh;
}

body {
	font-family: Arial, sans-serif;
	background: linear-gradient(to bottom, #405166 0%, #657f6f 100%);
}

#load-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#load-container h1 {
	color: #2b9f5e;
	color: #fff;
	font-size: 70px;
	margin-bottom: 36px;
}

#load-container button {
	border: 0;
	outline: 0;
	color: #fff;
	font-size: 30px;
	padding: 5px 50px;
	border-radius: 10px;
	background-color: #f1c83c;
	cursor: pointer;
	transition: all 0.3s ease;
}

#load-container button:hover {
	transform: scale(1.2);
}

#game-container {
	display: none;
}

.wrapper {
	display: flex;
	padding: 50px;
	background-color: #eee;
	justify-content: center;
	height: 100vh;
}

.music_staff {
	margin-top: 50px;
	cursor: pointer;
}

.line {
	width: 500px;
	height: 3px;
	background-color: #000;
	position: relative;
}

.space {
	width: 500px;
	height: 12px;
	background-color: #eee;
	position: relative;
}

.line:hover::after {
	position: absolute;
	top: -6px;
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #000;
	z-index: 10;
}

.space:hover::after {
	position: absolute;
	top: -1px;
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #000;
	z-index: 10;
}

.score {
	color: red;
}

.rules {
	color: orange;
}

.rules:hover {
	text-decoration: none;
}